In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\Adaml\OneDrive - TU Eindhoven\University\Year 2\Q3\DBL Process Mining\BPI Challenge 2017.csv")

In [17]:
df

,case,event,startTime,completeTime,LoanGoal,ApplicationType,RequestedAmount,Action,FirstWithdrawalAmount,Accepted,NumberOfTerms,OfferID,org:resource,MonthlyCost,EventOrigin,EventID,Selected,CreditScore,OfferedAmount
0,Application_652823628,A_Create Application,2016/01/01 10:51:15.304,2016/01/01 10:51:15.304,Existing loan takeover,New credit,20000.0,Created,NaN,NaN,NaN,NaN,User_1,NaN,Application,Application_652823628,NaN,NaN,NaN
1,Application_652823628,A_Submitted,2016/01/01 10:51:15.352,2016/01/01 10:51:15.352,Existing loan takeover,New credit,20000.0,statechange,NaN,NaN,NaN,NaN,User_1,NaN,Application,ApplState_1582051990,NaN,NaN,NaN
2,Application_652823628,A_Concept,2016/01/01 10:52:36.413,2016/01/01 10:52:36.413,Existing loan takeover,New credit,20000.0,statechange,NaN,NaN,NaN,NaN,User_1,NaN,Application,ApplState_642383566,NaN,NaN,NaN
3,Application_652823628,W_Complete application,2016/01/02 11:45:22.429,2016/01/02 11:45:22.429,Existing loan takeover,New credit,20000.0,Obtained,NaN,NaN,NaN,NaN,User_17,NaN,Workflow,Workitem_1875340971,NaN,NaN,NaN
4,Application_652823628,A_Accepted,2016/01/02 12:23:04.299,2016/01/02 12:23:04.299,Existing loan takeover,New credit,20000.0,statechange,NaN,NaN,NaN,NaN,User_52,NaN,Application,ApplState_99568828,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
561666,Application_1350494635,O_Sent (mail and online),2017/01/02 20:27:20.453,2017/01/02 20:27:20.453,Home improvement,New credit,20000.0,statechange,20000.0,False,77.0,Offer_1580299144,User_96,297.81,Offer,OfferState_1959881309,False,0.0,20000.0
561667,Application_1350494635,W_Call after offers,2017/01/02 20:27:20.472,2017/01/02 20:27:20.472,Home improvement,New credit,20000.0,Obtained,20000.0,False,77.0,Offer_1580299144,User_96,297.81,Workflow,Workitem_358206591,False,0.0,20000.0
561668,Application_1350494635,A_Complete,2017/01/02 20:27:20.474,2017/01/02 20:27:20.474,Home improvement,New credit,20000.0,statechange,20000.0,False,77.0,Offer_1580299144,User_96,297.81,Application,ApplState_1120616436,False,0.0,20000.0
561669,Application_1350494635,A_Cancelled,2017/01/16 10:51:21.114,2017/01/16 10:51:21.114,Home improvement,New credit,20000.0,statechange,20000.0,False,77.0,Offer_1580299144,User_28,297.81,Application,ApplState_1869071797,False,0.0,20000.0
561670,Application_1350494635,O_Cancelled,2017/01/16 10:51:21.139,2017/01/16 10:51:21.139,Home improvement,New credit,20000.0,statechange,20000.0,False,77.0,Offer_1580299144,User_28,297.81,Offer,OfferState_420066181,False,0.0,20000.0

In [15]:
asd = df.groupby("case")
len(asd.groups)

31509

In [18]:
df['LoanGoal'].value_counts()

Car                       161959
Home improvement          137441
Existing loan takeover    103858
Other, see explanation     51779
Unknown                    40940
Not speficied              18991
Remaining debt home        18352
Extra spending limit       10637
Caravan / Camper            6363
Motorcycle                  4728
Boat                        3482
Tax payments                2618
Business goal                500
Debt restructuring            23
Name: LoanGoal, dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 561671 entries, 0 to 561670
Data columns (total 19 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   case                   561671 non-null  object
 1   event                  561671 non-null  object
 2   startTime              561671 non-null  object
 3   completeTime           561671 non-null  object
 4   LoanGoal               561671 non-null  object
 5   ApplicationType        561671 non-null  object
 6   RequestedAmount        561671 non-null  float64
 7   Action                 561671 non-null  object
 8   FirstWithdrawalAmount  413046 non-null  float64
 9   Accepted               413046 non-null  object
 10  NumberOfTerms          413046 non-null  float64
 11  OfferID                381537 non-null  object
 12  org:resource           561671 non-null  object
 13  MonthlyCost            413046 non-null  float64
 14  EventOrigin            561671 non-null  object
 15  EventID                561671 non-null  object
 16  Selected               413046 non-null  object
 17  CreditScore            413046 non-null  float64
 18  OfferedAmount          413046 non-null  float64
dtypes: float64(6), object(13)
memory usage: 81.4+ MB